body {
    font-family: 'Inter', sans-serif;
    background: #E5E5E5;
    
}

.logo {
    position: relative;
    width: 31px;
    margin: 8px 0 0 84px;
}

.caixa {
    background: #FFFFFF;
    position: absolute;
    width: 400px;
    height: 680px;
    left: 1000px;
    
    
    
    
    border-radius: 32px;
    margin: 40px 40px 40px 40px;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.input-principal {
    background: #E5E5E5;
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    border: none;
    font-size: 32px;
    font-family: Inter;
    color: #0A3871;
    
}

.input-principal:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.paragrafo-botoes {
    width: 252px;
    height: 18px;
    position: absolute;
    
    margin: 600px 948px 16px 240px;
    font-size: 12px;
    color: #495057;
    
}

.paragrafo-botoes:before {
    margin: 0 8px 0 0;
    content: url('https://api.iconify.design/bi/exclamation-circle-fill.svg');
}



.imagem-caixa {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}

.mensagens-box {
    text-align: center;
    position: relative;
    width: 336px;
    height: 122px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    
    
    
}

.paragrafo1-direita {
    color: #343A40;
    position: relative;
    width: 336px;
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    margin: 32px auto 16px auto;
    padding: auto;
}

.botoes-principais {
    display: flex;
    weight: 680px;
    height: 67px;
    bottom: 0;
    position: relative;
    margin: 515px 80px 40px 240px;
}

.criptografar {
    margin: 0 24px 0 0;
    width: 328px;
    height: 67px;
    background: #0A3871;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
}

.descriptografar {
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
}

/*
footer {
    text-align: center;
    margin: 2px auto;
    position: absolute;
    color: #FFF;
    width: 100%;
    
      
}

.rodape {
    color: darkgreen;
    font-size: 13px;
    
}
*/